{% extends 'my_mov_project/layout.html' %}

{% block title %}Добавление фильма
{% endblock %}


{% block content %}
<!-- содержимое страницы films -->
    <div class="container">
        <br>
      <h1>Добавить фильм</h1>
        <br>
      <form action="" method="post" enctype="multipart/form-data" class="p-4 border rounded shadow-sm bg-light">
        <div class="form-group">
          <label for="title">Название фильма:</label>
          <input type="text" id="title" name="title" required>
        </div>
          <br>
        <div class="form-group">
          <label for="description">Описание фильма:</label>
          <textarea id="description" name="description" class="form-control w-100" required></textarea>
        </div>
          <br>
        <div class="form-group">
          <label for="image">Изображение фильма:</label>
          <input type="file" id="image" name="image" required>
        </div>
          <br>
        <div class="form-group">
          <label for="genre">Жанр фильма:</label>
          <select id="genre" name="genre" required>
            <option value="">Выберите жанр</option>
            <option value="action">Боевик</option>
            <option value="comedy">Комедия</option>
            <option value="drama">Драма</option>
            <!-- добавьте другие жанры -->
          </select>
        </div>
          <br>
        <button type="submit" class="btn btn-outline-info">Добавить фильм</button>
      </form>
    </div>

{% endblock %}